body{
    /* width: 360px; */
    /* height: 220px; */
    width: 380px;
    height: 230px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    border-radius: 10px;
    color: #fff;
    position: relative;

    font-family: 'Raleway', sans-serif;
}

#root{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    width: 360px;
    height: 220px;
    position: absolute;
    top: 0px;
    left: 10px;
    -webkit-user-select: none;
    overflow: hidden;
    /* background: radial-gradient(ellipse at center, rgba(125,126,125,0) 0%,rgba(124,125,124,0) 1%,rgba(14,14,14,1) 100%); */
    background: radial-gradient(ellipse at center, rgba(125,126,125,0) 0%,rgba(124,125,124,0) 1%,rgba(14,14,14,0.5) 100%);
    background-color: #231F20;    
}

    #root > div{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

#loading{
    width: 360px;
    height: 220px;
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 13px;
}
    .hide{
        display: none;
    }

    #loading .text{
        padding: 4px 8px;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        width: fit-content;
        background-color: #EC3950;
        border-radius: 5px;
        cursor: pointer;
        /* font-weight: bold; */
    }

    #loading .overlay{
        border-radius: 5px;
        width: 360px;
        height: 220px;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: black;
        opacity: 0.8; 
    }

    #loading .image{
        position: absolute;
        top: 35%;
        left: 43%;

        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
    }
    
#close{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
    #close:hover{
        right: 12px;
        top: 12px;
        height: 20px;
    }

#logo{
    top: 65px;
}

#credit{
    opacity: 0;
    text-shadow: 1px 1px 0px black;
    font-size: 12px;
    top: 130px;
    color: #aaa;
}

    #credit .heart{
        vertical-align: middle;
        margin: 0 3px;
    }
    #credit span{
        width: 36px;
        display: inline-block;
        overflow: hidden;
        line-height: 8px;
    }

#form{
    top: 125px;
    width: fit-content;
}

    .input{
        color: #444;
        text-indent: 28px;
        outline: none;
        display: block;
        width: 190px;
        height: 27px;
        border-radius: 13px;
        border: none;
        margin-bottom: 5px;

        transition: background-color 0.3s linear 0s;
    }

        .input::placeholder{
            color: #aaa;
            font-size: 12px;
        }

    .user{
        position: absolute;
        top: 8px;
        left: 10px;
    }

    .pass{
        position: absolute;
        top: 42px;
        left: 10px;
    }

    .error{
        background-color: darkred;
        box-shadow: inset 0 0 0 1px #FF0000;
    }

    .disabled{
        background-color: rgb(172, 172, 172);
    }

#buttons{
    position: absolute;
    bottom: 0px;
    height: 55px;
    width: 100%;
    text-align: right;
    padding-right: 50px;
}
    .button{
        position: relative;
        cursor: pointer;
        opacity: 0;
        padding: 0 3px;
        width: fit-content;
        height: 100%;
        display: inline-block;
    }
        .button img, .button svg{
            margin-bottom: 6px;
        }

        .button .line{
            opacity: 0;
            border-top: 2px dashed white;
            position: absolute;
            top: 25px;
            left: 3px;
            width: 90%;
            height: 2px;
        }

        .button:hover .line{
            opacity: 1;
        }

    .separator{
        overflow: hidden;
        opacity: 0;        
        padding: 0 3px;
        width: 12px;
        height: 100%;
        display: inline-block;
    }
        .separator img{
            margin-bottom: -20px;
        }

        .separator .arrow{
            margin-left: 0px;
        }
#qoute{
    text-shadow: 1px 1px 0px black;
    padding: 10px;
    font-style: italic;
    top: 40%;
    min-width: 250px;
    text-align: center;
    position: relative;
    /* text-indent: 5px; */
    opacity: 0;
    left: 75%;
}
    #qoute .qoute_right{
        position: absolute;
        bottom: 0px;
        right: -2px;
    }
    #qoute .qoute_left{
        position: absolute;
        top: -2px;
        left: -10px
    }

    #qoute .by{
        color: #888;
        position: absolute;
        right: 25px;
        bottom: -15px;
        font-size: 12px;
    }

#toast{
    height: 20px;
    width: 100%;
    bottom: -20px;
    opacity: 0;
}
    #toast span{
        letter-spacing: 0.4px;
        font-style: italic;
        line-height: 17px;
        white-space: nowrap;
        height: 16px;
        color: gray;
        background-color: #0a0a0a;
        display: inline-block;
        font-size: 10px;
        padding: 3px 10px;
        border-radius: 0 5px 0 8px;
        max-width: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

#countdown{
    top: 45px;
    position: absolute;
    height: 100px;
    width: 79px;
    /* background-color: red; */
    box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.5);
    border-radius: 6px;
}
    .dimmer{
        opacity: 0.2;
        position: absolute;
        height: 50%;
        width: 100%;
        background-color: black;
        top: 3px;
        left: 0px;
        border-radius: 6px;
    }

    .brighter{
        pointer-events: none;
        opacity: 0;
        position: absolute;
        height: 50%;
        width: 100%;
        background-color: rgb(253, 17, 0);
        bottom: -3px;
        left: 0px;
        border-radius: 6px;
    }

    .top{
        position: absolute;
        height: 50%;
        background-color: #B10202;
        top: 3px;
        left: 0px;
        border-radius: 6px;
        width: 100%;
    }

    .bottom{
        position: absolute;
        height: 50%;
        background-color: #B10202;
        bottom: -3px;
        left: 0px;
        border-radius: 6px;
        width: 100%;
    }

    .bottom_under{
        position: absolute;
        height: 50%;
        background-color: #670c0c;
        bottom: -5px;
        left: 0px;
        border-radius: 6px;
        width: 100%;
    }

    .bottom_under_under{
        position: absolute;
        height: 50%;
        background-color: #3d0101;
        bottom: -8px;
        left: 0px;
        border-radius: 6px;
        width: 100%;
    }

    .count{
        text-indent: -4px;
        font-family: Roboto;
        /* vertical-align: middle; */
        font-size: 80px;
        line-height: 119px;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        text-align: center;
        /* font-weight: bold; */
        text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.15);
        color: #eee;
    }

    .tminus{
        text-transform: uppercase;
        line-height: 36px;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        text-align: center;
        font-size: 11px;
        color: #000;
    }

    .hour{
        color: #fff;
        text-align: right;
        text-transform: lowercase;
        width: 100%;
        position: absolute;
        bottom: 50px;
        right: 8px;
        font-size: 12px;
        text-shadow: 0px -1px #5d0000;
    }

#timein{
    height: 20px;
    padding: 5px 10px;
    /* font-family: Ayuthaya; */
    color: #AAA;
    position: absolute;
    bottom: 20px;
    text-shadow: 0px -2px black;
    border-radius: 6px;
    overflow: hidden;
}
    #timein > .text:nth-child(1){
        margin-top: 0px; /*0, -23, -46*/
    }
    
    #timein > .text{
        font-size: 12px;
        height: 23px;
        text-align: left;
        display: block;
        line-height: 21px;
        font-weight: bold;
    }

    #timein > .text > .clock{
        height: 15px;
        margin-top: 3px;
        float: left;
        margin-right: -5px;
        margin-left: 15px;
    }

    #timein > .text > span{
        margin-left: 8px;
    }

    .touchable{
        cursor: pointer;
        text-shadow: 0px 2px black;
    }

    .touchable:hover{
        text-decoration: dashed underline;
    }

#time_button{
    color: gainsboro;
    font-family: Ayuthaya;
    position: absolute;
    bottom: 2px;
    font-size: 12px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    text-shadow: 0 1px black;
}

    #time_button:hover{
        text-decoration-line: underline;
        text-decoration-style: dashed;    
    }

    #time_button > .clock{
        height: 12px;
        vertical-align: middle;
        margin-bottom: 2px;
    }

    #time_button > .text{
        margin-left: 4px;
        display: inline-block;
    }
/*************** Animations ***************/
.out{
    opacity: 0;
    transform: scale3d(0.6,0.6,1);
}

.fade-in{
    animation: fade_in;
    animation-duration: 1s;
}
@keyframes fade_in {
    from {
      opacity: 0; 
    }
  
    to {
      opacity: 1
    }
}

.fade-out{
    animation: fade_out;
    animation-duration: 0.3s;
}
@keyframes fade_out {
    from {
      opacity: 1; 
    }
  
    to {
      opacity: 0;
    }
}

.slide-in{
    animation: slide_in;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes slide_in {
    from {
        opacity: 0;
        left: 75%;
    }
    50%{
        opacity: 1;
    }
    to {
        opacity: 1;
        left: 50%;
    }
}


.pulse {
    animation-name: pulse;
    animation-iteration-count: infinite;
}

@keyframes pulse {
from {
    transform: scale3d(1, 1, 1);
}

50% {
    transform: scale3d(1.1, 1.1, 1.1);
}

to {
    transform: scale3d(1, 1, 1);
}
}


.bounce {
    animation-name: bounce;
    transform-origin: center bottom;
}

@keyframes bounce {
    from, 20%, 53%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
    }

    40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        transform: translate3d(0,-4px,0);
    }
}


.rubberBand {
    animation-name: rubberBand;
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.shake {
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    from, to {
        margin-left: 0;
    }

    10%, 30%, 50%, 70%, 90% {
        margin-left: -10px;
    }

    20%, 40%, 60%, 80% {
        margin-left: 10px;
    }
}

.flash {
    animation-name: flash;
}

@keyframes flash {
    from, 50%, to {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

.tada {
    animation-name: tada;
}

@keyframes tada {
    from {
        transform: scale3d(1, 1, 1);
    }

    10%, 20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%, 50%, 70%, 90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%, 60%, 80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}
 